<div id="header">

    <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a  style="font-size: 6rem;font-weight: 900;" href="index.html" id="logo">AirCare</a></h1>
                <hr />



                
                <p>Making every journey better. The fastest way.<br>
                    </p>
            </header>
            <footer>
                <a href="#banner" class="button circled scrolly">Start</a>
            </footer>
        </div>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                
                <li><a href="left-sidebar.html"> Admin Login</a></li>
            
                <li><a href="right-sidebar.html">About Us</a></li>
                <li>
                    <a href="/viewairport">Airport list</a>
                </li>
                <li><a href="/searchbar">Search Airports by city</a></li>
            </ul>
        </nav>

</div>