<!DOCTYPE HTML>
	
<html>
	<head>
		<title>Admin Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/login.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="left-sidebar is-preload">
        
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/index" id="logo">Admin Login</a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/index">Home</a></li>
								
								<li><a href="/login">Admin Login</a></li>
								<li><a href="/rightsidebar">About Us</a></li>
								<li><a href="/viewairportl">Airport List</a></li>
							</ul>
						</nav>

				</div>

			
                        <% if(messages.error){ %>
                            <%= messages.error %>
                            <% } %>
 
                        <div class="login-wrap">
                            <div class="login-html">
                                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                                <div class="login-form">
                                    <div class="sign-in-htm">
                                        <form action="/signin" method="post">
                                        <div class="group">
                                            <label for="user" class="label">Username</label>
                                            <input id="user" type="text" name="name" class="input">
                                        </div>
                                        <div class="group">
                                            <label for="pass" class="label">Password</label>
                                            <input id="pass" type="password" name="pass" class="input" data-type="password">
                                        </div>
                                        
                                        <div class="group">
                                            <input type="submit" class="button" value="Sign In">
                                        </div>
                                        <div class="hr"></div>

                                    </div>
                                </form>
                                    <form action="adduser" method="post">
                                    <div class="sign-up-htm">
                                        <div class="group">
                                            <label for="user" class="label">Username</label>
                                            <input id="user" name="name" type="text" class="input">
                                        </div>
                                        
                                        <div class="group">
                                            <label for="pass" class="label">Password</label>
                                            <input id="pass" name="pass" type="password" class="input" data-type="password">
                                        </div>
                                        <div class="group">
                                            <label for="age" class="label">Age</label>
                                            <input id="age" type="number" class="input" name="age">
                                        </div>
                                        <div class="group">
                                            <label for="email" class="label">Email Address</label>
                                            <input id="email" name="email" type="text" class="input">
                                        </div>
                                        <div class="group">
                                            <input type="submit" class="button" value="Sign Up">
                                        </div>
                                        <div class="hr"></div>
                                        </form>
                                        <div class="foot-lnk">
                                            <label for="tab-1">Already Member?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 

						<hr />
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Singapore Changi</a></h3>
								</header>
								<p>
									Singapore Changi Airport connects customers to over 200 destinations worldwide, with 5000 arrivals and departures a week by 80 international airlines. Changi Airport was voted the Best Airport in Asia, World’s Best Airport Leisure Amenities, and Best Airport: 60-70 million passengers in 2020.


								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Tokyo Haneda</a></h3>
								</header>
								<p>
									Boasting both domestic and international terminals, Tokyo International Airport Haneda plays a very important role in furthering Japan’s development as a tourism-oriented nation. Haneda was named the Best Airport: 70+ million passengers, World’s Cleanest Airport, World’s Best Domestic Airport, and World’s Best PRM/Accessible Facilities in 2020.


								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Doha Hamad</a></h3>
								</header>
								<p>
									Hamad International Airport is the international airport for Doha, capital city of Qatar. The airport has been described as the most architecturally significant terminal complex in the world, as well as being the most luxurious. Hamad was voted the Best Airport in the Middle East, Best Airport: 30-40 million passengers, and Best Airport Staff in the Middle East in 2020.


								</p>
							</article>
						</div>
					</div>

				</div>
<br><br><br><br><br><br>
				<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

							<!-- Tweets -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
												Follow us on Twitter
											
											</article>
										</li>
									
									</ul>
								</section>

							<!-- Posts -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Post about us</a></h3>
												</header>
											
											</article>
										</li>
										
									</ul>
								</section>

							<!-- Photos -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
									</header>
									<div class="row gtr-25">
										<div class="col-6">
											<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="images/pic14.jpg" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="images/pic15.jpg" alt="" /></a>
										</div>
									</div>
								</section>

						</div>
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Want to know more about our project?</h3>
										</header>
										<p>Follow Pragya and Nilesh on:</p>
										<ul class="icons">
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: by us </a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>
        

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>