<!DOCTYPE HTML>

<html>
	<head>
		<style>
		
			p.bolder {
			  font-weight: 900;
			}
			
		
			</style>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/sliding.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/index" id="logo">About Us</a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/index">Home</a></li>
							
								<li><a href="/login">Admin Login</a></li>
								<li><a href="/rightsidebar">About Us</a></li>
								<li><a href="/viewairport">Airport List</a></li>
							</ul>
						</nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-mobile" id="content">
								<article id="main">
									<header>
										<h2 ><a style="font-size: 5rem;font-weight: 900;color: greenyellow; " href="#"><b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AirCare</b></a></h2>
										<p style="color: coral;">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Making every journey better. The fastest way.
										</p>
									</header>
									<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
									<p style="font-weight: 900;">
										Airports are becoming increasingly crucial to cities and regional economic viability, and are also becoming global business hubs. Keeping this in mind we have created an Aircare : a complete information source website for airport related services and data. The addition of car rental which is a pivotal service in this age for travelling, food chains providing you with the most lip-smacking options on your tiring flights, airport rating by experts for the most extravagant experience,landmark recommendations  for an unforgettable experience and many other useful tools makes this an invaluable asset for many travellers. All airport data is managed proficiently and effectively.

									</p>
									
									<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<section></section>
										<!-- <header>
											<h3>Augue euismod feugiat tempus</h3>
										</header>
										<p>
											Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
											feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
											ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
											egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
										</p> -->
									</section>
								</article>
							</div>
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3 style="font-size: 2.5rem;font-weight: 900;"><a href="#">LIST OF AIRPORTS</a></h3>
									</header>
									<p class="bolder">
										We have an exclusive list of airports where you get all the information you might need for 
										your travels!
									</p>
									<footer>
										<a href="#" class="button">Learn More</a>
									</footer>
								</section>
								<hr />
								
							</div>
						</div>
						
					</div>

				</div>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">

						<!-- Tweets -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="tweet">
											Follow us on Twitter
										
										</article>
									</li>
								
								</ul>
							</section>

						<!-- Posts -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
								</header>
								<ul class="divided">
									<li>
										<article class="post stub">
											<header>
												<h3><a href="#">Post about us</a></h3>
											</header>
										
										</article>
									</li>
									
								</ul>
							</section>

						<!-- Photos -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
								</header>
								<div class="row gtr-25">
									<div class="col-6">
										<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="#" class="image fit"><img src="images/pic14.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="#" class="image fit"><img src="images/pic15.jpg" alt="" /></a>
									</div>
								</div>
							</section>

					</div>
					<hr />
					<div class="row">
						<div class="col-12">

							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Want to know more about our project?</h3>
									</header>
									<p>Follow Pragya and Nilesh on:</p>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
										<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
									</ul>
								</section>

							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; Untitled. All rights reserved.</li><li>Design: by us </a></li>
									</ul>
								</div>

						</div>

					</div>
				</div>
			</div>

	</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>