<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <form action="/search" method="post">
        <label for="city">SELECT YOUR CITY</label>
     <select name="city" >
         <option value="New Delhi">NEW DELHI </option>
         <option value="New york">NEW YORK </option>
     </select>
     <input type="submit" > 

    </form>
   
</body>
</html>